{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/user.css' %}">
  <!-- <script defer src="{% static 'js/login.js' %}"></script> -->
</head>

<body>
  <main class="main-holder">
	  <div>
    <h1 id="login-header">Login <img src="{% static 'img/lock1.png' %}" ></h1>
	  </div>
    <form id="login-form" method="POST" action=""> {% csrf_token %}
	  <div class="tt">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Usuario">
	  </div>
	  <div >
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Contraseña">
	</div>
	<div class="i1">
      <input type="submit" value="Entrar" id="login-form-submit" class="sb">
	</div>
	{% for message in messages %}
	<p id="messages">{{message}}</p>
  {% endfor %}
    </form>
</main>
</body>

</html>