{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Registro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <header x-data="{ mobileMenuOpen : false }"
            class="flex flex-wrap flex-row justify-between items-center md:space-x-4 bg-white py-2 px-6 relative w-full">
        <button @click="mobileMenuOpen = !mobileMenuOpen" class="inline-block md:hidden w-8 h-8  text-gray-600 p-1">
            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                      clip-rule="evenodd"></path>
            </svg>
        </button>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

        <a href="#" class="block">
            <img class="h-8" src="{% static 'img/xymbot.jpg' %}" alt="Xymview">
        </a>
        <nav class="absolute md:relative left-0 top-12 md:top-0 z-20 md:flex flex-col md:flex-row md:space-x-6 font-semibold w-full md:w-auto bg-white shadow-md  md:rounded-none md:shadow-none md:bg-transparent p-6  md:p-0"
             :class="{ 'flex' : mobileMenuOpen , 'hidden' : !mobileMenuOpen}" @click.away="mobileMenuOpen = false">
            <a href="{% url 'index' %}"
               class="text-gray-600 hover:underline  flex md:items-center md:justify-center pl-2 md:pl-0">Producción</a>
            <a href="{% url 'register' %}"
               class=" color-primary hover:underline flex font-bold md:items-center md:justify-center pl-2 md:pl-0">Usuarios</a>
            <a href="http://pinazo-business-intelligence.westeurope.cloudapp.azure.com:3000/d/22NgU26Mk/pinazo?orgId=1"
               class="text-gray-600 hover:underline flex md:items-center md:justify-center pl-2 md:pl-0">Live</a>
            <a class="md:rounded-full bg-primary md:p-2 " href="{% url 'logout' %}"><span
                    class="text-white md:px-4 font-small pl-2 ">{{request.user}}</span></a>
        </nav>
    </header>

</head>
<body style="text-align: center;" class="h-0">
<div class="flex items-center justify-center mt-8 md:mt-16 mb-8 w-11/12 md:w-8/12 lg:4/6">
    <div class="grid bg-white rounded-lg shadow-xl w-11/12 md:w-9/12 lg:w-2/3">
        <div class="flex justify-center">
            <div class="">
                <h1 class="text-gray-600 font-bold md:text-2xl text-xl mt-4">Registrar usuario</h1>
            </div>
        </div>
        <form method="POST" action=""> {% csrf_token %}
            <div class="grid grid-cols-1 mt-4 md:mt-5 mx-7 ">
                <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-left">Nombre de usuario</label>
                <div class="py-2 px-3 rounded-lg border-2 border-primary focus:color-secondary mt-1 focus:outline-none focus:ring-2  focus:border-transparent son-full-w son-outline-none">
                    <input class="bg-white" type="text" name="username" >
                </div>

            </div>

            <div class="grid grid-cols-1 md:mt-5 mx-7 ">
                <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-left">Contraseña</label>
                <div class="py-2 px-3 rounded-lg border-2 border-primary focus:color-secondary mt-1 focus:outline-none focus:ring-2  focus:border-transparent son-full-w son-outline-none">
                    <input type="password" name="password1" >
                </div>
            </div>
            <div class="grid grid-cols-1 md:mt-5 mx-7 ">
                <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-left">Confirmar contraseña</label>
                <div class="py-2 px-3 rounded-lg border-2 border-primary focus:color-secondary mt-1 focus:outline-none focus:ring-2  focus:border-transparent son-full-w son-outline-none">
                    <input type="password" name="contraseña">
                </div>
            </div>
            <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
                <button type="submit" value="Registrar usuario" class='w-7/12 bg-primary hover:bg-blue-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'>
                    Registrar usuario
                </button>
            </div>

        </form>
    </div>
</div>


<script>
    /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
//We start indexing at one because CSRF_token is considered and input field
*/

    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Usuario..';
    // form_fields[2].placeholder='Email..';
    form_fields[2].placeholder = 'Contraseña...';
    form_fields[3].placeholder = 'Repetir Contraseña...';


    for (var field in form_fields) {
        form_fields[field].className += ' form-control'
    }
</script>

</body>
<img class="w-36" src="{% static 'img/pinazo.png' %}">

</html>