{% load static %}

<!DOCTYPE html>
<html>
    <head>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <title>
            Admin
        </title>
        <div id="mySidenav" class="topav">
            <a href="{% url 'index' %}">Producción</a>
            <a href="http://pinazo-business-intelligence.westeurope.cloudapp.azure.com:3000/d/22NgU26Mk/pinazo?orgId=1" target="_blank">Visualizador</a>
            <a href="{% url 'register' %}">Usuarios</a>
            <img class="log" src="{% static 'img/user1.png' %}" >
            
            
            <span class="us"> <a href="{% url 'logout' %}"><span>{{request.user}}</span></a></span>  
          </div>        
    </head>
    <body style="text-align: center;">
        <main class="mn">
        <div class="header">
            <header>Producción</header>
        </div>
        <div id="container">
            {% block Production %}
            <form action="." method="POST"> {% csrf_token %}
                <div class="row">
                    <div class="col-25">
                        <label>Descripción: </label>
                    </div>
                    <div class="col-75">
                        {{ form.article }} 
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Prensa:</label>
                    </div>
                    <div class="col-75" name="pieces">
                        {{ form.machine }}
                    </div>
                </div>
                <div class="row" >
                    <div class="col-25">
                        <label> Total de piezas:</label> 
                    </div>
                    <div class="col-75">
                        {{ form.total }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label> Fecha de inicio: </label>
                    </div>
                    <div class="col-75">
                        {{ form.date_from }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label> Fecha de fin: </label>
                    </div>
                    <div class="col-75">
                        {{ form.date_to }} 
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Actualizar" id="sub">  
                </div>                     
            </form>            
            {% endblock %} 
        </div>
        </main>        
            <div class="bann">
                <img src="{% static 'img/logo.jpg' %}" >
              </div>
    </body>
</html>