html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgb(75, 75, 75);
  overflow: scroll;
}

.main-holder {
  width: 20%;
  height: 40%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgb(29, 28, 28);
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
  color: white;
}


#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 40px; 
}

.login-form-field::placeholder {
  color: #3a3a3a;
}
.sb{
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #686868;
  cursor: pointer;
  outline: none;
}
.login-form-field {
  border: none;
  border-bottom: 1px solid #1a84ca;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 10px 10px;
}

.sub {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

.tt{
  justify-items: center;
  align-items: center;
  margin-top: 25px; 
}
.i1{
  justify-items: center;
  align-items: center;
  margin-top: 25px; 
}
#uhd{
  margin-top: 25px; 
}
@media screen and (max-width: 600px) {
  .main-holder {
    width: 70%;
    height: auto;
  }
  #tt{
    width: 80%; 
    float:center;
  }
  .i1{
    margin-bottom: 10px; 
  }
} 